/*//头部*/
/*! CSS Used from: http://127.0.0.1:8020/%E6%96%87%E7%AB%A0%E7%AB%99/css/index.css */
header,nav{display:block;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
a:active,a:hover{outline-width:0;}
img{border-style:none;}
button{font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button,html [type=button]{-webkit-appearance:button;}
[type=button]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
[type=button]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText;}
::-webkit-input-placeholder{opacity:.54;color:inherit;}
@media print{
*,::after,::before,::first-letter,div::first-line,li::first-line{-webkit-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important;}
a,a:visited{text-decoration:underline;}
img{page-break-inside:avoid;}
.navbar{display:none;}
}
*,::after,::before{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;}
ul{margin-top:0;margin-bottom:1rem;}
ul ul{margin-bottom:0;}
a{text-decoration:none;color:#62a8ea;}
a:focus,a:hover{text-decoration:underline;color:#89bceb;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
a,button{-ms-touch-action:manipulation;touch-action:manipulation;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button{line-height:inherit;}
.container{max-width:100%;margin-right:auto;margin-left:auto;padding-right:.9375rem;padding-left:.9375rem;}
.container::after{display:table;clear:both;content:'';}
@media (min-width:480px){
.container{width:606px;}
}
@media (min-width:768px){
.container{width:750px;}
}
@media (min-width:992px){
.container{width:970px;}
}
@media (min-width:1200px){
.container{width:1170px;}
}
@media (min-width:1600px){
.container{width:1510px;}
}
.row{margin-right:-.9375rem;margin-left:-.9375rem;}
.row::after{display:table;clear:both;content:'';}
@media (min-width:480px){
.row{margin-right:-.9375rem;margin-left:-.9375rem;}
}
@media (min-width:768px){
.row{margin-right:-.9375rem;margin-left:-.9375rem;}
}
@media (min-width:992px){
.row{margin-right:-.9375rem;margin-left:-.9375rem;}
}
@media (min-width:1200px){
.row{margin-right:-.9375rem;margin-left:-.9375rem;}
}
.nav{margin-bottom:0;padding-left:0;list-style:none;}
.nav-link{display:inline-block;font-size:16px!important;}
.nav-link:focus,.nav-link:hover{text-decoration:none;}
.navbar{position:relative;padding:1.5715rem .9375rem;}
.navbar::after{display:table;clear:both;content:'';}
@media (min-width:480px){
.navbar{border-radius:.215rem;}
}
.navbar-fixed-top{position:fixed;z-index:1500;right:0;left:0;}
@media (min-width:480px){
.navbar-fixed-top{border-radius:0;}
}
.navbar-fixed-top{top:0;}
.sr-only{position:absolute;overflow:hidden;clip:rect(0,0,0,0);width:1px;height:1px;margin:-1px;padding:0;border:0;}
.m-l-0{margin-left:0!important;}
.p-l-0{padding-left:0!important;}
button{color:inherit;}
@media (min-width:1600px){
.container{width:1310px;}
}
.nav-link{position:relative;display:block;overflow:hidden;padding:.715rem 1.072rem;}
.nav-link:focus{outline:0;}
.nav-link:focus,.nav-link:hover{background-color:#f3f7f9;}
.navbar{min-height:4.715rem;padding:0;border:none;-webkit-box-shadow:0 2px 4px rgba(0,0,0,.08);box-shadow:0 2px 4px rgba(0,0,0,.08);}
.navbar-header::after{display:table;clear:both;content:'';}
@media (min-width:768px){
.navbar-header{float:left;}
}
.navbar-collapse{overflow-x:visible;padding-right:.9375rem;padding-left:.9375rem;border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1);box-shadow:inset 0 1px 0 rgba(255,255,255,.1);-webkit-overflow-scrolling:touch;}
.navbar-collapse::after{display:table;clear:both;content:'';}
@media (min-width:768px){
.navbar-collapse{width:auto;border-top:0;-webkit-box-shadow:none;box-shadow:none;max-height:612px;}
.navbar-fixed-top .navbar-collapse{padding-right:0;padding-left:0;}
}
.navbar-fixed-top{width:100%;}
.m-l-0{margin-left:0!important;}
.p-l-0{padding-left:0!important;}
a:focus{outline:none;}
a:active,a:focus,a:hover{text-decoration:none;}
a:hover{color:#4e97d9;}
a:hover,a:active{text-decoration:none;}
.head_nav_met_16_3{min-height:60px;position:relative;z-index:999;}
.head_nav_met_16_3{background-color:#ffffff;background-color:#ffffff;}
.head_nav_met_16_3.navbar-shadow{box-shadow:0 1px 2px rgba(0,0,0,.1);}
.met-head.navbar-fixed-top{z-index:999;top:40px;position:fixed;}
.head_nav_met_16_3 .navbar-collapse{overflow-x:hidden;}
.head_nav_met_16_3 .navlist{float:right;}
.head_nav_met_16_3 .navlist>li{opacity:0;-webkit-transform:translateX(100%);transform:translateX(100%);}
.head_nav_met_16_3 .navlist>.nav-item>a.active{color:#5e3700!important;}
.head_nav_met_16_3 .navlist .nav-item a.active,.head_nav_met_16_3 .navlist .nav-item a.nav-link:hover{background:none!important;color:#5e3700!important;color:!important;}
.head_nav_met_16_3 .navlist .nav-item a.nav-link{background:none!important;}
.head_nav_met_16_3 .navlist .nav-item a.nav-link{color:#333333;}
@media (max-width:767px){
.head_nav_met_16_3 .navlist .nav-item a.active{background:none!important;}
}
@media (min-width:768px){
.head_nav_met_16_3 .navlist .nav-item .nav-link{padding-top:0px;padding-bottom:0px;height:60px;line-height:60px;}
}
@media (max-width:767px){
.head_nav_met_16_3 .navlist .nav-item{margin-left:0!important;}
.head_nav_met_16_3 .navbar-collapse{width:100%;}
.met-head.navbar-fixed-top .head_nav_met_16_3 .navbar-collapse{max-height:340px;overflow-y:auto;}
.head_nav_met_16_3 .navlist .nav-item a.active{background:#f5f5f5;}
}
#header{height:40px;background:#ffffff;width:100%;-webkit-transition:background cubic-bezier(0.645, 0.045, 0.355, 1) 1.2s;transition:background cubic-bezier(0.645, 0.045, 0.355, 1) 1.2s;}
#header img{max-width:20px;}
#header.header-fixed{position:fixed;top:-40px;z-index:1601;background:#ffffff;opacity:0;}
#header .left{float:left;list-style:none;}
#header .right{float:right;list-style:none;height:40px;}
#header .tel{line-height:40px;font-size:13px;color:#444444;}
#header .tel em{color:#5e3700;font-weight:700;font-style:normal;}
#header .right li{float:left;line-height:40px;margin-left:30px;position:relative;list-style:none;}
#header .right li img{top:-2px;position:relative;}
#header .right li span{font-size:14px;color:#444444;font-weight:700;margin-left:2px;display:inline-block;}
#header .head-list{margin:0;}
ul,li{padding:0;list-style:none;}
a:hover{text-decoration:none;}
::-webkit-input-placeholder{color:#ababab;opacity:1;}
::-moz-placeholder{color:#ababab;opacity:1;}
:-ms-input-placeholder{color:#ababab;opacity:1;}
.nav-height{padding-top:0px;width:100%;}
li{list-style:none;}
:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a:hover{color:#23527c;text-decoration:underline;}
:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a:hover{color:#23527c;text-decoration:underline;}
a:hover{outline:0;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a:hover{color:#23527c;text-decoration:underline;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
a:active,a:hover{outline-width:0;}
img{border-style:none;}
::-webkit-input-placeholder{opacity:.54;color:inherit;}
@media print{
*,::after,::before,::first-letter,div::first-line{-webkit-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important;}
a,a:visited{text-decoration:underline;}
img{page-break-inside:avoid;}
}
*,::after,::before{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;}
a{text-decoration:none;color:#62a8ea;}
a:focus,a:hover{text-decoration:underline;color:#89bceb;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
a{-ms-touch-action:manipulation;touch-action:manipulation;}
a:focus{outline:none;}
a:active,a:focus,a:hover{text-decoration:none;}
a:hover{color:#4e97d9;}
a:hover,a:active{text-decoration:none;}
a:hover{text-decoration:none;}
::-webkit-input-placeholder{color:#ababab;opacity:1;}
::-moz-placeholder{color:#ababab;opacity:1;}
:-ms-input-placeholder{color:#ababab;opacity:1;}
:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a:hover{color:#23527c;text-decoration:underline;}
:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a:hover{color:#23527c;text-decoration:underline;}
a:hover{outline:0;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a:hover{color:#23527c;text-decoration:underline;}
*,*::before,*::after{box-sizing:border-box;}
a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
a:hover{color:#0056b3;text-decoration:underline;}
img{vertical-align:middle;border-style:none;}
@media print{
*,*::before,*::after{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
a:active,a:hover{outline-width:0;}
img{border-style:none;}
::-webkit-input-placeholder{opacity:.54;color:inherit;}
@media print{
*,::after,::before,::first-letter,div::first-line{-webkit-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important;}
a,a:visited{text-decoration:underline;}
img{page-break-inside:avoid;}
}
*,::after,::before{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;}
a{text-decoration:none;color:#62a8ea;}
a:focus,a:hover{text-decoration:underline;color:#89bceb;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
a{-ms-touch-action:manipulation;touch-action:manipulation;}
a:focus{outline:none;}
a:active,a:focus,a:hover{text-decoration:none;}
a:hover{color:#4e97d9;}
a:hover,a:active{text-decoration:none;}
a:hover{text-decoration:none;}
::-webkit-input-placeholder{color:#ababab;opacity:1;}
::-moz-placeholder{color:#ababab;opacity:1;}
:-ms-input-placeholder{color:#ababab;opacity:1;}
:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a:hover{color:#23527c;text-decoration:underline;}
:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a:hover{color:#23527c;text-decoration:underline;}
a:hover{outline:0;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a:hover{color:#23527c;text-decoration:underline;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
a:active,a:hover{outline-width:0;}
img{border-style:none;}
::-webkit-input-placeholder{opacity:.54;color:inherit;}
@media print{
*,::after,::before,::first-letter,div::first-line{-webkit-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important;}
a,a:visited{text-decoration:underline;}
img{page-break-inside:avoid;}
}
*,::after,::before{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;}
a{text-decoration:none;color:#62a8ea;}
a:focus,a:hover{text-decoration:underline;color:#89bceb;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
a{-ms-touch-action:manipulation;touch-action:manipulation;}
a:focus{outline:none;}
a:active,a:focus,a:hover{text-decoration:none;}
a:hover{color:#4e97d9;}
a:hover,a:active{text-decoration:none;}
a:hover{text-decoration:none;}
::-webkit-input-placeholder{color:#ababab;opacity:1;}
::-moz-placeholder{color:#ababab;opacity:1;}
:-ms-input-placeholder{color:#ababab;opacity:1;}
:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a:hover{color:#23527c;text-decoration:underline;}
:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a:hover{color:#23527c;text-decoration:underline;}
a:hover{outline:0;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a:hover{color:#23527c;text-decoration:underline;}
*,*::before,*::after{box-sizing:border-box;}
a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
a:hover{color:#0056b3;text-decoration:underline;}
img{vertical-align:middle;border-style:none;}
@media print{
*,*::before,*::after{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
}
*,*::before,*::after{box-sizing:border-box;}
a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
a:hover{color:#0056b3;text-decoration:underline;}
img{vertical-align:middle;border-style:none;}
@media print{
*,*::before,*::after{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
}
/*! CSS Used from: http://127.0.0.1:8020/%E6%96%87%E7%AB%A0%E7%AB%99/css/index_meta.css */
@media (max-width:1380px){
.navbar-collapse .navbar-header{margin-left:5%;}
header .head-list .left{margin-left:4%;}
header .head-list .right{margin-right:5%;}
}
@media (min-width:420px){
.header_menu{display:none;}
}
@media (max-width:420px){
.nav_aa{display:none;background:none;}
.navbar-collapse .navbar-header{margin-left:0%;}
.navbar-header{width:380px!important;float:left!important;}
.navbar-header button{float:right;margin-right:100px;margin-top:-60px;width:15px;height:15px;}
.navbar-header button img{width:20px;height:20px;}
.navbar-header button:visited{border:none;}
.logo{width:100px;}
#header{height:0px;background:none;width:100%;}
#header.header-fixed{position:inherit;top:0px;z-index:0;background:none;opacity:0;}
#header{display:none;}
.head_nav_met_16_3{z-index:2000;margin-top:-20px;}
.head_nav_met_16_3 .navlist{float:left;margin-left:5px;}
.navlist{width:350px!important;display:none;}
.navlist .nav-link{font-size:12px!important;}
.header_menu{border:none;background:none;}
.nav-item .nav-link{text-align:center;border-bottom:1px dotted #CCCCCC;}
.nav-item .nav-link{padding-right:50px;}
.head_nav_met_16_3 .navlist .nav-item{width:100%;}
}
@media (max-width:380px){
.nav_aa{display:none;background:none;}
.navbar-collapse .navbar-header{margin-left:0%;}
.navbar-header{width:380px!important;float:left;}
.navbar-header button{float:right;margin-right:100px;margin-top:-60px;width:15px;height:15px;}
.navbar-header button img{width:20px;height:20px;}
.navbar-header button:visited{border:none;}
.logo{width:100px;}
#header{height:0px;background:none;width:100%;}
#header.header-fixed{position:inherit;top:0px;z-index:0;background:none;opacity:0;}
#header{display:none;}
.head_nav_met_16_3{z-index:2000;margin-top:-20px;}
.head_nav_met_16_3 .navlist{float:left;margin-left:10px;}
.navlist{width:350px!important;display:none;}
.navlist .nav-link{font-size:12px!important;}
.header_menu{border:none;background:none;}
.nav-item .nav-link{text-align:center;border-bottom:1px dotted #CCCCCC;width:300px;}
.nav-item .nav-link{padding-right:50px;}
}
@media (max-width:325px){
.nav_aa{display:none;background:none;}
.navbar-header{width:380px!important;float:left;}
.navbar-header button{float:left!important;margin-left:50%!important;margin-top:-10%!important;width:15px;height:15px;}
.navbar-header button img{width:20px;height:20px;}
.logo img{width:80px!important;height:50px;}
#header{height:0px;background:none;width:100%;}
#header.header-fixed{position:inherit;top:0px;z-index:0;background:none;opacity:0;}
#header{display:none;}
.head_nav_met_16_3{z-index:2000;margin-top:-20px;}
.head_nav_met_16_3 .navlist{float:left;margin-left:-20px !important;}
.navlist{width:350px!important;display:none;}
.navlist .nav-link{font-size:10px!important;}
.header_menu{border:none;background:none;}
.nav-item .nav-link{border-bottom:1px dotted #CCCCCC;margin-right:10%!important;}
.nav-item .nav-link{padding-right:50px;}
a{font-size:10px!important;margin-top:5px;}
}
/*! CSS Used from: http://127.0.0.1:8020/%E6%96%87%E7%AB%A0%E7%AB%99/css/bootstrap.css */
*,*::before,*::after{box-sizing:border-box;}
header,nav{display:block;}
ul{margin-top:0;margin-bottom:1rem;}
ul ul{margin-bottom:0;}
a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
a:hover{color:#0056b3;text-decoration:underline;}
img{vertical-align:middle;border-style:none;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{overflow:visible;}
button{text-transform:none;}
button,html [type="button"]{-webkit-appearance:button;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner{padding:0;border-style:none;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width: 576px){
.container{max-width:540px;}
}
@media (min-width: 768px){
.container{max-width:720px;}
}
@media (min-width: 992px){
.container{max-width:960px;}
}
@media (min-width: 1200px){
.container{max-width:1500px;}
}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.nav{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none;}
.nav-link{display:block;padding:0.5rem 1rem;}
.nav-link:hover,.nav-link:focus{text-decoration:none;}
.navbar{position:relative;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding:0.5rem 1rem;}
.navbar > .container{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;}
.navbar-collapse{-ms-flex-preferred-size:100%;flex-basis:100%;-ms-flex-positive:1;flex-grow:1;-ms-flex-align:center;align-items:center;}
.sr-only{position:absolute;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border:0;}
@media print{
*,*::before,*::after{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
.container{min-width:992px!important;}
.navbar{display:none;}
}
/*! CSS Used from: http://127.0.0.1:8020/%E6%96%87%E7%AB%A0%E7%AB%99/css/font-awesome.css */
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
/*! CSS Used from: http://127.0.0.1:8020/%E6%96%87%E7%AB%A0%E7%AB%99/css/font-awesome.min.css */
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
/*! CSS Used from: Embedded */
@media (max-width:380px){
.nav_aa{display:none;background:none;}
.navbar-collapse .navbar-header{margin-left:0%;}
.navbar-header{width:380px!important;float:left;}
.navbar-header button{float:right;margin-right:100px;margin-top:-60px;width:15px;height:15px;}
.navbar-header button img{width:20px;height:20px;}
.navbar-header button:visited{border:none;}
.logo{width:100px;}
#header{height:0px;background:none;width:100%;}
#header.header-fixed{position:inherit;top:0px;z-index:0;background:none;opacity:0;}
#header{display:none;}
.head_nav_met_16_3{z-index:2000;margin-top:-20px;}
.head_nav_met_16_3 .navlist{float:left;margin-left:-10px;}
.navlist{width:350px!important;display:none;}
.navlist .nav-link{font-size:12px!important;}
.header_menu{border:none;background:none;}
.nav-item .nav-link{text-align:center;border-bottom:1px dotted #CCCCCC;}
.nav-item .nav-link{padding-right:50px;}
}

/****************************************底部*****************************/
/*! CSS Used from: http://127.0.0.1:8020/%E6%96%87%E7%AB%A0%E7%AB%99/css/index.css */
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:active, a:hover {
        outline-width: 0;
    }

img {
    border-style: none;
}

::-webkit-input-placeholder {
    opacity: .54;
    color: inherit;
}

@media print {
    *, ::after, ::before, ::first-letter, div::first-line {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #62a8ea;
}

    a:focus, a:hover {
        text-decoration: underline;
        color: #89bceb;
    }

    a:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

img {
    vertical-align: middle;
}

a {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

    a:focus {
        outline: none;
    }

    a:active, a:focus, a:hover {
        text-decoration: none;
    }

    a:hover {
        color: #4e97d9;
    }

    a:hover, a:active {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

::-webkit-input-placeholder {
    color: #ababab;
    opacity: 1;
}

::-moz-placeholder {
    color: #ababab;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ababab;
    opacity: 1;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:hover {
    outline: 0;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:active, a:hover {
        outline-width: 0;
    }

img {
    border-style: none;
}

::-webkit-input-placeholder {
    opacity: .54;
    color: inherit;
}

@media print {
    *, ::after, ::before, ::first-letter, div::first-line {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #62a8ea;
}

    a:focus, a:hover {
        text-decoration: underline;
        color: #89bceb;
    }

    a:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

img {
    vertical-align: middle;
}

a {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

    a:focus {
        outline: none;
    }

    a:active, a:focus, a:hover {
        text-decoration: none;
    }

    a:hover {
        color: #4e97d9;
    }

    a:hover, a:active {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

::-webkit-input-placeholder {
    color: #ababab;
    opacity: 1;
}

::-moz-placeholder {
    color: #ababab;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ababab;
    opacity: 1;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:hover {
    outline: 0;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

img {
    vertical-align: middle;
    border-style: none;
}

@media print {
    *, *::before, *::after {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:active, a:hover {
        outline-width: 0;
    }

img {
    border-style: none;
}

::-webkit-input-placeholder {
    opacity: .54;
    color: inherit;
}

@media print {
    *, ::after, ::before, ::first-letter, div::first-line {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #62a8ea;
}

    a:focus, a:hover {
        text-decoration: underline;
        color: #89bceb;
    }

    a:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

img {
    vertical-align: middle;
}

a {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

    a:focus {
        outline: none;
    }

    a:active, a:focus, a:hover {
        text-decoration: none;
    }

    a:hover {
        color: #4e97d9;
    }

    a:hover, a:active {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

::-webkit-input-placeholder {
    color: #ababab;
    opacity: 1;
}

::-moz-placeholder {
    color: #ababab;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ababab;
    opacity: 1;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:hover {
    outline: 0;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:active, a:hover {
        outline-width: 0;
    }

img {
    border-style: none;
}

::-webkit-input-placeholder {
    opacity: .54;
    color: inherit;
}

@media print {
    *, ::after, ::before, ::first-letter, div::first-line {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #62a8ea;
}

    a:focus, a:hover {
        text-decoration: underline;
        color: #89bceb;
    }

    a:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

img {
    vertical-align: middle;
}

a {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

    a:focus {
        outline: none;
    }

    a:active, a:focus, a:hover {
        text-decoration: none;
    }

    a:hover {
        color: #4e97d9;
    }

    a:hover, a:active {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

::-webkit-input-placeholder {
    color: #ababab;
    opacity: 1;
}

::-moz-placeholder {
    color: #ababab;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ababab;
    opacity: 1;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:hover {
    outline: 0;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

img {
    vertical-align: middle;
    border-style: none;
}

@media print {
    *, *::before, *::after {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

img {
    vertical-align: middle;
    border-style: none;
}

@media print {
    *, *::before, *::after {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

.footer_box {
    background-color: #FFFFFF;
    height: 150px;
    margin-top: 100px;
    border-top: 1px solid #F0F0F0;
}

    .footer_box .footer_logo {
        width: 290px;
        height: 119px;
        margin: 2% 0 0 10%;
        border-right: 2px solid #cc9d32;
    }

    .footer_box .introduce {
        width: 700px;
        height: 119px;
        float: right;
        margin-right: 13%;
        margin-top: -9%;
        font-size: 18px;
        text-align: left;
        text-indent: 30px;
        padding-top: 10px;
        color: #999999;
    }
/*! CSS Used from: http://127.0.0.1:8020/%E6%96%87%E7%AB%A0%E7%AB%99/css/index_meta.css */
@media (min-width:1480px) {
    .footer_box {
        background-color: #FFFFFF;
        height: 150px;
        margin-top: 100px;
        border-top: 1px solid #F0F0F0;
    }

        .footer_box .footer_logo {
            width: 290px;
            height: 119px;
            margin: 2% 0 0 10%;
            border-right: 2px solid #cc9d32;
        }

        .footer_box .introduce {
            width: 700px;
            height: 119px;
            float: right;
            margin-right: 16%;
            margin-top: -7%;
            font-size: 18px;
            text-align: left;
            text-indent: 30px;
            padding-top: 10px;
            color: #999999;
        }
}

@media (max-width:1320px) {
    .container-fluid {
        width: 1350px;
    }
}

@media (max-width:420px) {
    .footer_box {
        height: auto;
        margin-top: 10px !important;
    }

        .footer_box .footer_logo {
            width: 230px;
            height: 90px;
            margin: 0px 50px;
            border-right: none;
        }

        .footer_box .introduce {
            width: 340px;
            height: 100px;
            float: none;
            margin: 0 auto;
            margin-top: 1%;
            font-size: 9px !important;
            text-align: left;
            text-indent: 20px;
            padding-top: 20px;
            color: #999999;
        }
}

@media (max-width:380px) {
    .footer_box {
        height: auto;
        margin-top: 10px !important;
    }

        .footer_box .footer_logo {
            width: 200px;
            height: 90px;
            margin: 0px 10px;
            border-right: none;
        }

        .footer_box .introduce {
            width: 320px;
            height: 100px;
            float: none;
            margin: 0 auto;
            margin-top: 1%;
            font-size: 9px !important;
            text-align: left;
            text-indent: 20px;
            padding-top: 20px;
            color: #999999;
        }
}

@media (max-width:325px) {
    a {
        font-size: 10px !important;
        margin-top: 5px;
    }

    .footer_box {
        height: auto;
        margin-top: 10px !important;
    }

        .footer_box .footer_logo {
            width: 180px;
            height: 90px;
            margin: 0px;
            border-right: none;
        }

        .footer_box .introduce {
            width: 300px;
            height: 100px;
            float: none;
            margin: 0 auto;
            margin-top: 1%;
            font-size: 9px !important;
            text-align: left;
            text-indent: 20px;
            padding-top: 20px;
            color: #999999;
            margin-left: -20px
        }
}
/*! CSS Used from: http://127.0.0.1:8020/%E6%96%87%E7%AB%A0%E7%AB%99/css/bootstrap.css */
*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

img {
    vertical-align: middle;
    border-style: none;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media print {
    *, *::before, *::after {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

/****************************************************  回到顶部  *****************************************************************/
/*! CSS Used from: http://127.0.0.1:8020/%E6%96%87%E7%AB%A0%E7%AB%99/css/index.css */
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:active, a:hover {
        outline-width: 0;
    }

img {
    border-style: none;
}

button {
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
}

    button::-moz-focus-inner {
        padding: 0;
        border-style: none;
    }

    button:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

::-webkit-input-placeholder {
    opacity: .54;
    color: inherit;
}

@media print {
    *, ::after, ::before, ::first-letter {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #62a8ea;
}

    a:focus, a:hover {
        text-decoration: underline;
        color: #89bceb;
    }

    a:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

img {
    vertical-align: middle;
}

a, button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

    button:focus {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }

button {
    line-height: inherit;
}

button {
    color: inherit;
}

a:focus {
    outline: none;
}

a:active, a:focus, a:hover {
    text-decoration: none;
}

a:hover {
    color: #4e97d9;
}

a:hover, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

::-webkit-input-placeholder {
    color: #ababab;
    opacity: 1;
}

::-moz-placeholder {
    color: #ababab;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ababab;
    opacity: 1;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:hover {
    outline: 0;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:active, a:hover {
        outline-width: 0;
    }

img {
    border-style: none;
}

::-webkit-input-placeholder {
    opacity: .54;
    color: inherit;
}

@media print {
    *, ::after, ::before, ::first-letter {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #62a8ea;
}

    a:focus, a:hover {
        text-decoration: underline;
        color: #89bceb;
    }

    a:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

img {
    vertical-align: middle;
}

a {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

    a:focus {
        outline: none;
    }

    a:active, a:focus, a:hover {
        text-decoration: none;
    }

    a:hover {
        color: #4e97d9;
    }

    a:hover, a:active {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

::-webkit-input-placeholder {
    color: #ababab;
    opacity: 1;
}

::-moz-placeholder {
    color: #ababab;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ababab;
    opacity: 1;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:hover {
    outline: 0;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

img {
    vertical-align: middle;
    border-style: none;
}

@media print {
    *, *::before, *::after {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:active, a:hover {
        outline-width: 0;
    }

img {
    border-style: none;
}

::-webkit-input-placeholder {
    opacity: .54;
    color: inherit;
}

@media print {
    *, ::after, ::before, ::first-letter {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #62a8ea;
}

    a:focus, a:hover {
        text-decoration: underline;
        color: #89bceb;
    }

    a:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

img {
    vertical-align: middle;
}

a {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

    a:focus {
        outline: none;
    }

    a:active, a:focus, a:hover {
        text-decoration: none;
    }

    a:hover {
        color: #4e97d9;
    }

    a:hover, a:active {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

::-webkit-input-placeholder {
    color: #ababab;
    opacity: 1;
}

::-moz-placeholder {
    color: #ababab;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ababab;
    opacity: 1;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:hover {
    outline: 0;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:active, a:hover {
        outline-width: 0;
    }

img {
    border-style: none;
}

::-webkit-input-placeholder {
    opacity: .54;
    color: inherit;
}

@media print {
    *, ::after, ::before, ::first-letter {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #62a8ea;
}

    a:focus, a:hover {
        text-decoration: underline;
        color: #89bceb;
    }

    a:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

img {
    vertical-align: middle;
}

a {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

    a:focus {
        outline: none;
    }

    a:active, a:focus, a:hover {
        text-decoration: none;
    }

    a:hover {
        color: #4e97d9;
    }

    a:hover, a:active {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

::-webkit-input-placeholder {
    color: #ababab;
    opacity: 1;
}

::-moz-placeholder {
    color: #ababab;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ababab;
    opacity: 1;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:hover {
    outline: 0;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

img {
    vertical-align: middle;
    border-style: none;
}

@media print {
    *, *::before, *::after {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

img {
    vertical-align: middle;
    border-style: none;
}

@media print {
    *, *::before, *::after {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}

.gotoTOP {
    position: fixed;
    bottom: 20px;
    right: 5%;
    margin-bottom: 11% !important;
    z-index: 3000;
    background: none;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    /*//自定义边框:none;*/
}

    .gotoTOP img {
        width: 40px;
        height: 40px;
    }
/*! CSS Used from: http://127.0.0.1:8020/%E6%96%87%E7%AB%A0%E7%AB%99/css/index_meta.css */
@media (min-width:2500px) {
    .gotoTOP {
        position: fixed;
        bottom: 20px;
        margin-right: 50% !important;
        margin-bottom: 10% !important;
        z-index: 3000;
        background: none;
        margin: 0;
        padding: 0;
        border: 1px solid transparent;
        outline: none;
    }

        .gotoTOP img {
            width: 50px !important;
            height: 50px !important;
        }
}

@media (min-width:1480px) {
    .gotoTOP {
        position: fixed;
        bottom: 20px;
        margin-right: 5% !important;
        margin-bottom: 10% !important;
        z-index: 3000;
        background: none;
        margin: 0;
        padding: 0;
        border: 1px solid transparent;
        outline: none;
    }

        .gotoTOP img {
            width: 40px;
            height: 40px;
        }
}

@media (max-width:325px) {
    a {
        font-size: 10px !important;
        margin-top: 5px;
    }
}
/*! CSS Used from: http://127.0.0.1:8020/%E6%96%87%E7%AB%A0%E7%AB%99/css/bootstrap.css */
*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

img {
    vertical-align: middle;
    border-style: none;
}

button {
    border-radius: 0;
}

    button:focus {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }

button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
}

    button::-moz-focus-inner {
        padding: 0;
        border-style: none;
    }

@media print {
    *, *::before, *::after {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    img {
        page-break-inside: avoid;
    }
}


