* {
    margin: 0;
    padding: 0;
}

header {
    box-shadow: 1px 2px 2px #e8e8e8;
}

    header nav.container {
        padding: 0;
        margin: 0 auto;
        width: 80%;
    }

a{
    color:#938f8f;
}

header nav .navtop {
    height: 30%;
    font-size: 14px;
}

header nav em {
    font-weight: 800;
}

header nav ul {
    list-style-type: none;
    font-size: 14px;
    font-weight: 800;
    text-align: right;
}

    header nav ul li {
        margin-left: 30px;
        float: right;
    }

header nav .navbottom .row {
    height: 70%;
}

    header nav .navbottom .row .col-9 {
        padding-top: 10px;
    }

header nav .navbottom div {
    padding: 0;
}

header nav .navbottom ul.nav {
    padding-top: 27px;
    font-size: 20px;
    font-weight: 200;
    float: right;
}

    header nav .navbottom ul.nav a {
        color: #000000;
    }

        header nav .navbottom ul.nav a:hover {
            text-decoration: none;
        }



footer {
    padding: 0;
    margin: 0 auto;
    width: 80%;
    box-shadow: 0px -1px 0px #e8e8e8;
    margin-top:10px;
}

    footer .footerleft:after {
        content: '';
        position: absolute;
        left: auto;
        top: auto;
        bottom: 10px;
        right: 0;
        height: 80%;
        width: 2px;
        background-color: #cc9d32;
    }
    footer .footerright {
        font-size:18px;
        padding-top:2%;
        text-indent: 2em;
        color:#938f8f;
    }


@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
    /*layout页的内容适配*/
    .navtop>div{
        padding:0;
    }
    .navtop > div:last-child{
        display:none;
    }
    .navbottom .row{
        font-size:10px;
    }
    .navbottom .row > div:first-child {
        display: none;
    }
    #nav{
        padding-top:0;
        width:100%;
    }
    #nav li{
        margin-left:5%;
    }

    footer{
        display:none;
    }

    /*首页的内容适配*/
    #topnewspaper{
        padding:0;
    }
    #Hometop {
        padding: 0;
    }
    ul li > div:first-child img {
        width: 11rem;
    }
    /*适配茶故事*/
    .topright{
        padding:0;
    }
    .bottomright{
        border-top:1px solid #ff0000;
    }
    #bottomright, #bottomleft, .bottomleft, .bottomright {
        border-left: none !important;
        border-right: none !important;
    }
    .modalaclist > ul > li img {
        width: 130px;
    }

    .modalaclist > ul > li > div:first-child {
        margin-right: 70px;
    }
    main.news_list_detail_met_16_3 {
        margin: 0;
        padding: 0;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) {
    #topnewspaper ul li:first-child img {
        width:11rem;
    }
    footer {
        display: block !important;
    }
}
@media only screen  and (max-device-width : 1024px) {
    footer{
        display:none !important;
    }
    #nav{
        padding-right:0;
    }
    .bottomleft, .bottomright, #bottomleft {
        border-left: none !important;
        border-right: none !important;
    }
    .navtop>div:last-child{
        display:none;
    }
}
@media only screen and (max-device-width : 360px) {
    .navbottom>.row>div:first-child{
        display:none;
        font-size:12px;
    }
    #nav li{
        margin-left:10px;
    }
    .navtop>div:last-child{
        display:none;
    }
    #bottomleft{
        border-right:none !important;
    }
    footer{
        display:none;
    }
    #topnewspaper > ul > li img, #bottomleft > ul > li img, #bottomright > ul > li img{
        width: 130px;
    }
    .bottomleft, .bottomright {
        border-left: none !important;
        border-right: none !important;
    }
    .modalaclist>ul>li img{
        width:130px;
    }
    .modalaclist > ul > li>div:first-child{
        margin-right:50px;
    }
    .newspaper{
        border-left:none !important;
    }
    main.news_list_detail_met_16_3 {
        margin: 0;
        padding:0;
    }
}